body {
    background: #fff; /* цвет фона для наглядности */
    text-align: center;
}

table {
    border: 1px solid silver;
    border-collapse: collapse;
    margin: auto;
}

th {
	border: 1px solid silver;
	font-weight: normal;
}

td {
	border: 1px solid silver;
}

tr.header {
	border: 1px solid silver;
	text-align: center;
}
